* {
  box-sizing: border-box;
}

html {
  color: #3d3535;
  font-size: 14px;
  line-height: 20px;
}

body {
  margin: 0px;
}

header {
  display: flex;
  background-color: #3e064e;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.suggestions {
  background: cadetblue;
}

.nav-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0px 15px 0px 15px;
  color: white;
}

nav>h1 {
  display: inline-block;
  font-size: 1.7em;
}

.toggled {
  display: none;
}

.toggled>ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav_handle-container {
  position: relative;
  height: 25px;
  top: 26px;
  width: 40px;
  right: auto;
  cursor: pointer;
  float: right;
  border: none;
  background: inherit;
}

.nav-items-list>li {
  padding: 10px;
  margin: 1px;
}

#list a,
footer a {
  color: inherit;
  text-decoration: none;
}

.nav_handle-container>span {
  background: white;
  height: 2px;
  width: 30px;
  margin: 0px;
  position: absolute;
  /* Apparently this centres the spans. Leave it like that.*/
  right: 5px;
}

.nav_handle-container span:nth-child(1) {
  top: 0;
}

.nav_handle-container span:nth-child(2) {
  top: 8px;
}

.nav_handle-container span:nth-child(3) {
  top: 17px;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

#search-section,
input,
#search-results,
#submit-button,
#fb-share,
.landmarks span:nth-child(1),
.landmarks span:nth-child(2),
.landmarks span:nth-child(3),
.landmarks span:nth-child(4) {
  box-shadow: 0px 3px 6px #8f867b;
}

.welcome-image>img {
  width: 96%;
  height: 200px;
}

.welcome-image {
  background-color: cadetblue;
  width: 90%;
  height: 150px;
}

.welcome {
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 25px;
  text-align: center;
  padding: 100px 24px;
  margin: 2px;
  background-color: darkpgrey;
}

#search-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 1.2em;
  padding: 100px 20px 170px 20px;
  text-align: center;
}

form {
  text-align: center;
}

input {
  display: block;
  margin: 40px 40px 15px 40px;
  height: 35px;
  border: 0px;
  border-radius: 2em;
  padding: 8px;
}

#submit-button {
  background-color: #3e064e;
  color: white;
  border: 0px;
  border-radius: 4px;
  padding: 0.5em 1.3em;
}

#submit-button:hover {
  background-color: #65436e;
}

#search-results {
  width: 99vw;
  display: inline-block;
  background-color: bihsque;
  margin: 1px;
  text-align: center;
  margin: 100px 0px 170px 0px;
  padding-bottom: 20px;
}

.about-place>h3 {
  text-transform: uppercase;
}

.about-geosearch {
  padding: 15px;
}

.landmarks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 5px 0 0 0;
}

.landmarks span:nth-child(1),
.landmarks span:nth-child(2),
.landmarks span:nth-child(3),
.landmarks span:nth-child(4) {
  width: 5.5em;
  height: 5.5em;
  background-image: url("minImages/Spinner-1s-200px.gif");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

table {
  text-align: start;
  margin: 20px;
}

#convert {
  background-color: inherit;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  color: inherit;
}

#fb-share {
  background-image: url("minImages/facebook2.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  color: #3d353500;
  width: 75px;
  height: 28px;
  border: none;
}

footer {
  color: white;
  background: #3e064e;
  padding: 24px;
  text-align: center;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  background: gray;
}

/* Style overrides for other screen sizes (mobile first
approach was used for the styling of this app) */

@media screen and (min-width: 500px) {
  .nav_handle-container {
    display: none;
  }

  .nav-container {
    display: flex;
    background-color: #3e064e;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
  }

  .toggled {
    display: inline-block;
  }

  .nav-items-list>li {
    display: inline;
  }

  .welcome,
  #search-section,
  #search-results {
    width: 80%;
  }

  #search {
    background-color: green;
    border-radius: 4px;
    padding: 0.6em;
  }

  input {
    width: 20em;
    height: 3em;
    border-radius: 2em;
  }

  #submit-button {
    padding: 0.8em 2em;
  }

  .landmarks {
    justify-content: center;
  }

  .landmarks span:nth-child(1),
  .landmarks span:nth-child(2),
  .landmarks span:nth-child(3),
  .landmarks span:nth-child(4) {
    width: 6em;
    height: 6em;
    margin: 0.4em;
  }

  table {
    display: inline-block;
  }

  .share {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 1em;
  }

  input {
    width: 30em;
    height: 4em;
    border-radius: 2em;
  }

  .landmarks span:nth-child(1),
  .landmarks span:nth-child(2),
  .landmarks span:nth-child(3),
  .landmarks span:nth-child(4) {
    width: 7.5em;
    height: 7.5em;
    margin: 0.4em;
  }
}